{% extends "index.html" %}
{% block title %} POSGRADO | Evaluación {% endblock title %}
{% load crispy_forms_tags %}


{% block content %}
<style>
    .btn-outline-secondary.active,
    .btn-outline-secondary:active,
    .btn-outline-secondary:focus,
    .btn-outline-secondary:checked {
        background-color: #6c757d;
        color: white;
    }
</style>

<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-header-title">
                        <h5 class="m-b-10">EVALUACIÓN</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item">Evaluación</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row ">
        <!-- customer-section start -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <h1 class="text-3xl font-bold">Sustentación de Tesis</h1>
                        <p class="text-gray-500">Bienvenido al sistema para realizar la evaluación de la sustentación.</p>
                    </div>
                </div>
                <div class="pro-scroll">
                        <div class="mb-4">
                            <div class="card-body" style="font-weight: 500;">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-6">
                                        <label for=""><b>DATOS DEL PONENTE: </b></label>
                                        <p style="font-weight: 300;">{{ alumnodata.nombre_ponente }} </p>
                                    </div>
                                    <div class="col-md-4">
                                        <b>DNI: </b>
                                        <p style="font-weight: 300;">{{ alumnodata.dni }}</p>
                                    </div>
                                </div>  
                
                                <div class="row">
                                    <div class="col-md-1"> </div>
                                    <div class="col-md-3">
                                        <b>PROGRAMA: </b>
                                        <p style="font-weight: 300;">{{ alumnodata.doctorado_maestria }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <b>UNIDAD: </b>
                                        <p style="font-weight: 300;">{{ alumnodata.unidad }}</p>
                                    </div>
                                    <div class="col-md-5">
                                        <b>MENCIÓN: </b>
                                        <p style="font-weight: 300;">{{ alumnodata.mencion }}</p>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="col-md-1"> </div>
                                    <div class="col-md-9">
                                        <b>PONENCIA: </b>
                                        <center>
                                            <p style="font-weight: 300;">{{ alumnodata.ponencia }}</p>
                                        </center>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="col-md-1"> </div>
                                    <div class="col-md-3">
                                        <b>SALA: </b>
                                        <p style="font-weight: 300;">{{ alumnodata.sala }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <b>FECHA: </b>
                                        <p style="font-weight: 300;">{{ alumnodata.fecha_sustentacion }}</p>
                                    </div>
                                    <div class="col-md-1"> </div>
                                    <div class="col-md-2">
                                        <b>HORA INICIO: </b>
                                        <p style="font-weight: 300;">{{ alumnodata.hora_inicio_sustentacion }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <b>HORA FIN: </b>
                                        <p style="font-weight: 300;">{{ alumnodata.hora_fin_sustentacion }}</p>
                                    </div>                    
                                </div>
                                <div class="row">
                                    <div class="col-md-1"> </div>                    
                                    <div class="col-md-5">
                                        <b>ASESOR: </b>
                                        <p style="font-weight: 300;">{{ alumnodata.jurado }}</p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                </div>
            </div>
        <!-- customer-section end -->
        </div>
    <!-- [ Main Content ] end -->
    </div>
    <div class="row ">
        <!-- customer-section start -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <h1 class="text-2xl font-bold">Evaluación</h1>
                        <p class="text-gray-700">Selecciona una opción del 1 al 5 para cada ítem.</p>
                    </div>
                </div>
                <div class="pro-scroll">
                        <div class="mb-4">
                            <form method="post">
                                {% csrf_token %}
                                <div class="card-body" style="font-weight: 500;">
                                    <div class="row">
                                        <div class="col-md-2 d-flex justify-content-center">
                                            {{ form.originalidad | as_crispy_field }}                                  
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            {{ form.importancia | as_crispy_field }}                                  
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            {{ form.coherencia | as_crispy_field }}                                  
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            {{ form.metodologia | as_crispy_field }}                                  
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            {{ form.validez | as_crispy_field }}                                  
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            {{ form.dominio_tema | as_crispy_field }}                                  
                                        </div>
                                    </div>
                                    <div class="row ml-4 flex">
                                        <div class="col-md-9 justify-content-start">
                                            {{ form.sugerencias | as_crispy_field }}                                  
                                        </div>  
                                        <div class="col-md-3 justify-content-end mt-5">
                                            <button type="submit" class="btn btn-primary btn-sm mt-5" style="width: 100%;">Guardar</button>                                        
                                        </div>                                       
                                    </div>  
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        <!-- customer-section end -->
        </div>
    <!-- [ Main Content ] end -->
    </div>
</div>






    {% endblock content %}


    {% block js %}


    {% endblock %}