{% extends "index.html" %}
{% block title %} POSGRADO | Detalle de Sustentaciones {% endblock title %}
{% load static %}

{% block css %}
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-header-title">
                        <h5 class="m-b-10">DETALLE</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item">Listado</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>ITEMS DE EVALUACIÓN | Leyenda</h5>  
                </div>
                <div class="card-body">
                    <div type="button" class="btn btn-sm btn-primary"><span class="badge badge-light-primary">1</span> ORIGINALIDAD</div>
                    <div type="button" class="btn btn-sm btn-secondary"><span class="badge badge-light-secondary">2</span> IMPORTANCIA</div>
                    <div type="button" class="btn btn-sm btn-success"><span class="badge badge-light-success">3</span> COHERENCIA</div>
                    <div type="button" class="btn btn-sm btn-danger"><span class="badge badge-light-danger">4</span> METODOLOGIA</div>
                    <div type="button" class="btn btn-sm btn-warning"><span class="badge badge-light-warning">5</span> VALIDEZ</div>
                    <div type="button" class="btn btn-sm btn-info"><span class="badge badge-light-info">6</span> DOMINIO TEMA</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>FILTROS</h5>  
                </div>
                <div class="card-body">
                    <form method="get" action="{% url 'listar_detalleevaluaciones' %}">
                        <div class="row mx-3">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ponente">Ponente</label>
                                    <input type="text" class="form-control" id="ponente" name="ponente" placeholder="Buscar por ponente" value="{{ ponente_filtro }}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="jurado">Jurado</label>
                                    <input type="text" class="form-control" id="jurado" name="jurado" placeholder="Buscar por jurado" value="{{ jurado_filtro }}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cargo">Cargo</label>
                                    <select class="form-control" id="cargo" name="cargo">
                                        <option value="">Seleccionar cargo</option>
                                        <option value="Presidente" {% if cargo_filtro == 'Presidente' %}selected{% endif %}>Presidente</option>
                                        <option value="Secretario" {% if cargo_filtro == 'Secretario' %}selected{% endif %}>Secretario</option>
                                        <option value="Vocal" {% if cargo_filtro == 'Vocal' %}selected{% endif %}>Vocal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2 mt-5 ">
                                <button style="width: 100%;" type="submit" class="btn btn-primary ">Filtrar</button>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="my-2">DETALLE DE SUSTENTACIONES</h5>
                </div>
                <div class="pro-scroll">
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tabladetallesustentaciones">
                                <thead class="table table-sm my-3">
                                    <tr>
                                        <th><center>PONENTE</center></th>
                                        <th><center>JURADO</center></th>
                                        <th><center>CARGO</center></th>
                                        <th><center><span style="font-size: 18px;" class="badge badge-light-primary">1</span></center></th>
                                        <th><center><span style="font-size: 18px;" class="badge badge-light-secondary">2</span></center></th>
                                        <th><center><span style="font-size: 18px;" class="badge badge-light-success">3</span></center></th>
                                        <th><center><span style="font-size: 18px;" class="badge badge-light-danger">4</span></center></th>
                                        <th><center><span style="font-size: 18px;" class="badge badge-light-warning">5</span></center></th>
                                        <th><center><span style="font-size: 18px;" class="badge badge-light-info">6</span></center></th>
                                        <th><center>PUNTAJE FINAL</center></th>
                                        <th><center>ACCIONES</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if page_obj %}
                                    {% for item_evaluacion in page_obj %}
                                    <tr>
                                        <td>{{ item_evaluacion.alumno }}</td>
                                        <td>{{ item_evaluacion.jurado }}</td>
                                        <td>
                                            {% if item_evaluacion.cargo == "Presidente" %}
                                                <center><span class="badge badge-pill badge-light-primary" style="font-size: 14px;">{{ item_evaluacion.cargo }}</span></center>
                                            {% elif item_evaluacion.cargo == "Secretario" %}
                                                <center><span class="badge badge-pill badge-light-info" style="font-size: 14px;">{{ item_evaluacion.cargo }}</span></center>
                                            {% elif item_evaluacion.cargo == "Vocal" %}
                                                <center><span class="badge badge-pill badge-light-success" style="font-size: 14px;">{{ item_evaluacion.cargo }}</span></center>
                                            {% endif %}
                                        </td>
                                        <td><center>{{ item_evaluacion.originalidad }}</center></td>
                                        <td><center>{{ item_evaluacion.importancia }}</center></td>
                                        <td><center>{{ item_evaluacion.coherencia }}</center></td>
                                        <td><center>{{ item_evaluacion.metodologia }}</center></td>
                                        <td><center>{{ item_evaluacion.validez }}</center></td>
                                        <td><center>{{ item_evaluacion.dominio_tema }}</center></td>
                                        <td><center>{{ item_evaluacion.puntajeFinal }}</center></td>
                                        {% if item_evaluacion.estado == 0 %}
                                            <td style="text-align: center;">
                                                <a href="{% url 'evaluar_sustentacion' item_evaluacion.idDetEvaluacion %}" class="btn btn-secondary btn-sm"><i class="fa-solid fa-eye"></i></a>
                                            </td>
                                        {% else %}
                                            <td style="text-align: center;">
                                                <center><span class="badge badge-pill badge-light-danger" style="font-size: 14px;">EVALUADO</span></center>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr style="text-align: center;">
                                        <td colspan="11">
                                            <p>No hay Registros</p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-end pt-2">
                                <nav aria-label="pagination-django">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item"><a class="page-link" href="?page=1&ponente={{ ponente_filtro }}&jurado={{ jurado_filtro }}&cargo={{ cargo_filtro }}">Primera</a></li>
                                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&ponente={{ ponente_filtro }}&jurado={{ jurado_filtro }}&cargo={{ cargo_filtro }}"><<</a></li>
                                        {% endif %}
                                        <li class="page-item"><a class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
                                        {% if page_obj.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&ponente={{ ponente_filtro }}&jurado={{ jurado_filtro }}&cargo={{ cargo_filtro }}">>></a></li>
                                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&ponente={{ ponente_filtro }}&jurado={{ jurado_filtro }}&cargo={{ cargo_filtro }}">Última</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- [ Main Content ] end -->
    
</div>


{% endblock content %}


{% block js %}

<!-- Libreria DAtatables.js -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script> 
<script src="https://cdn.datatables.net/2.1.2/js/dataTables.bootstrap4.js"></script> 

<!-- Libreria DAtatables.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.bootstrap4.css"> 


{% endblock %}