{% extends "index.html" %}
{% block title %} POSGRADO | Usuarios {% endblock title %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-header-title">
                        <h5 class="m-b-10">USUARIOS</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item">Listado</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row ">
        <!-- customer-section start -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5>LISTADO DE USUARIOS</h5>    
                    <a href="{% url 'creacion_usuario' %}" class="btn  btn-secondary btn-sm "><i class="fa fa-plus-square"></i> NUEVO</a>
                                    
                </div>
                <div class="pro-scroll">
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-sm my-3" id="tablausuarios" style="width:100%">
                                <thead class="table">
                                    <tr>                               
                                        <th><center>Id</center></th>
                                        <th><center>Nombres</center></th>                         
                                        <th><center>Username</center></th>
                                        <th><center>Correo</center></th>                                  
                                        <th><center>Estado</center></th>                                  
                                        <th><center>Acciones</center></th>
                                    </tr>
                                </thead>
                                <tbody id="tablebody_usuarios">
                                </tbody>                       
                            </table>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- customer-section end -->
    </div>
    <!-- [ Main Content ] end -->
</div>

{% endblock content %}

{% block js %}
<!-- Libreria DAtatables.js -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script> 
<script src="https://cdn.datatables.net/2.1.2/js/dataTables.bootstrap4.js"></script> 

<!-- Libreria DAtatables.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.bootstrap4.css"> 


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Mensaje de exito -->
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                "title": "Éxito",
                "text":"{{m}}",
                "icon":"success"
                })
                console.log("{{m}}")
            </script>
        {% endfor %}
    {% endif %}


    <!-- Datatables -->
    <script>
        let dataTable;
        let dataTableIsInitialized = false;

        const dataTableOptions = {        
            columnDefs: [               
                { orderable: false, targets: [3, 4, 5]},
                { searchable: false, targets: [0, 3, 4, 5] }
            ],
            pageLength: 10,
            destroy: true,
            language:{
                lengthMenu: "Mostrar  _MENU_",
                zeroRecords: "Ningun registro encontrado",
                info: "",
                infoEmpty: "",
                infoFiltered: "",
                search: "Buscar: ",
                loadingRecords: "Cargando...",
                paginate:{
                    first: "<<",
                    last: ">>",
                    next: ">",
                    previous: "<"
                }
            },                                            
        };

        const initDataTable = async () => {
            if (dataTableIsInitialized) {
                dataTable.destroy();
            }
            await listaUsuarios();
            dataTable = $("#tablausuarios").DataTable(dataTableOptions);
            dataTableIsInitialized = true;
        };


        const listaUsuarios = async (estado) => {
            try {
                const response = await fetch("/usuarios/listar_usuarios_json");
                const data = await response.json();
                let content = ``;
                data.usuarios.forEach((item_usuario) => {
                    const isActive = item_usuario.is_active ? 'ACTIVO' : 'INACTIVO';
                    const editUrl = `/usuarios/edit/${item_usuario.id}/`;
                    content += `
                        <tr>                            
                            <td><center>${item_usuario.id}</center></td>                    
                            <td>${item_usuario.first_name}  ${item_usuario.last_name}</td>                                                           
                            <td>${item_usuario.username}</td> 
                            <td>${item_usuario.email}</td>
                            <td>                       
                                <center><span class="badge badge-pill badge-info" style="font-size:12px; ">${isActive}</span></center>
                            </td>
                            <td>
                                <center>
                                    <a href="${editUrl}" class="btn btn-sm btn-success" style=" color: white;"><i class='fa fa-edit'></i></a>
                                    <button onclick="eliminarUsuario(${item_usuario.id})" class='btn btn-sm btn-danger'><i class='fa-solid fa-trash-can'></i></button>
                                </center>
                            </td>
                        </tr>`
                        ;
                });
                tablebody_usuarios.innerHTML = content;
                
            } catch (ex) {
                alert(ex);
            }
        };

        window.addEventListener("load", async () => {          
            await initDataTable();
        });

    </script>

    <!-- Eliminar un usuario -->
    <script>
        function eliminarUsuario(id){
            Swal.fire({
                title: "¿Realmente deseas eliminar este usuario?",
                text: "ID del usuario: " + id,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#A19D9C',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'No, cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/usuarios/delete/${id}/`;
                }
            });
        }
    </script>

{% endblock %}
