{% extends "index.html" %}
{% block title %} POSGRADO | Evaluaciones {% endblock title %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="pcoded-content">

    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-header-title">
                        <h5 class="m-b-10">SUSTENTACIONES</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item">Agregar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header ">
                    <h5>NUEVA SUSTENTACIÓN</h5>                                    
                </div>  
                <div class="card-body">
                    <form method="post" class="">
                        {% csrf_token %}
                        <input type="hidden" id="selectedJurados" name="selectedJurados">
                        <div class="row px-5 py-2">           
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3">{{ form.codigo | as_crispy_field }}</div> 
                                    <div class="col-lg-3"></div> 
                                    <div class="col-lg-6">{{ form.alumno | as_crispy_field }}</div>                          
                                </div>                                   
                                <div class="row mt-3">
                                    <div class="col-lg-6 col-md-6 col-sm-12"><button type="submit" class="btn" style="width: 100%; background-color: #343a40; font-size: 12px; color: white;"><b>GUARDAR</b></button></div>
                                    <div class="col-lg-6 col-md-6 col-sm-12"><a href="{% url 'listar_evaluaciones' %}" class="btn" style="width: 100%; background-color: rgb(231, 237, 247); font-size: 12px; color: black;"><b>CANCELAR</b></a></div>
                                </div>                      
                            </div>
                        </div>                          

                    </form>        
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                "title": "Warning",
                "text":"{{m}}",
                "icon":"info"
                })
            </script>
            {% endfor %}
    {% endif %}


{% endblock %}

