{% extends "index.html" %}
{% block title %} POSGRADO | Sustentaciones {% endblock title %}
{% load static %}

{% block css %}

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<style>
    .select2-container {
        z-index: 9999;
    }

    .select2-dropdown {
        z-index: 99999;
    }
</style>

{% endblock %}

{% block content %}
<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-header-title">
                        <h5 class="m-b-10">SUSTENTACIONES</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item">Listado</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row ">
        <!-- customer-section start -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5>LISTADO DE SUSTENTACIONES</h5>    
                    <a href="{% url 'crear_evaluacion' %}" class="btn  btn-secondary btn-sm "><i class="fa fa-plus-square"></i> NUEVO</a>
                                    
                </div>
                <div class="pro-scroll">
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-sm my-3" id="tablasustentaciones" style="width:100%">
                                <thead class="table">
                                    <tr>                               
                                        <th><center>Codigo</center></th>
                                        <th><center>Ponente</center></th>                         
                                        <th><center>Mención</center></th>
                                        <th><center>Fecha</center></th>                                  
                                        <th><center>H.Inicio</center></th>                                  
                                        <th><center>H.Final</center></th>
                                        <th><center>Acciones</center></th>
                                    </tr>
                                </thead>
                                <tbody id="tablebody_sustentaciones">
                                </tbody>                       
                            </table>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- customer-section end -->
    </div>
    <!-- [ Main Content ] end -->
</div>
{% endblock content %}


{% block js %}

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

<!-- Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<!-- Libreria DAtatables.js -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script> 
<script src="https://cdn.datatables.net/2.1.2/js/dataTables.bootstrap4.js"></script> 

<!-- Libreria DAtatables.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.bootstrap4.css"> 

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Select2 -->
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                dropdownParent: $('#staticBackdrop .modal-body')
            });
        });
    </script>

 
    <!-- Mensaje de exito -->
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                "title": "Éxito",
                "text":"{{m}}",
                "icon":"success"
                })
                console.log("{{m}}")
            </script>
        {% endfor %}
    {% endif %}


<!-- Llenar Tabla -->
<script>
    let dataTable;
    let dataTableIsInitialized = false;

    const dataTableOptions = {        
            columnDefs: [               
                { orderable: false, targets: [4, 5, 6]},
                { searchable: false, targets: [3, 4, 5, 6] }
            ],
            pageLength: 10,
            destroy: true,
            language:{
                lengthMenu: "Mostrar  _MENU_",
                zeroRecords: "Ningun registro encontrado",
                info: "",
                infoEmpty: "",
                infoFiltered: "",
                search: "Buscar: ",
                loadingRecords: "Cargando...",
                paginate:{
                    first: "<<",
                    last: ">>",
                    next: ">",
                    previous: "<"
                }
            },                                            
        };

    const initDataTable = async () => {
        if (dataTableIsInitialized) {
            dataTable.destroy();
        }
        await listasustentacion();
        dataTable = $("#tablasustentaciones").DataTable(dataTableOptions);
        dataTableIsInitialized = true;
    };

    const listasustentacion = async () => {
        try {
            const response = await fetch("/evaluacion/listar_evaluacion_json");
            const data = await response.json();
            let content = '';
            data.evaluacion.forEach((item_evaluacion) => {
                const editUrl = `/evaluacion/edit/${item_evaluacion.idEvaluacion}/`;
                const alumno = data.alumnos[item_evaluacion.alumno_id];
                content += `
                    <tr>          
                        <td><center>${item_evaluacion.codigoEvaluacion}</center></td>                    
                        <td>${alumno.nombre_ponente}</td>                                                           
                        <td>${alumno.mencion}</td>
                        <td><center>${alumno.fecha_sustentacion}</center></td>
                        <td><center>${alumno.hora_inicio_sustentacion}</center></td>                       
                        <td><center>${alumno.hora_fin_sustentacion}</center></td>                
                        <td>
                            <center>
                                <a href="${editUrl}" class="btn btn-sm btn-success" style=" color: white;"><i class='fa fa-edit'></i></a>
                                <button onclick="eliminarEvaluacion(${item_evaluacion.idEvaluacion})" class='btn btn-sm btn-danger'><i class='fa-solid fa-trash-can'></i></button>                             
                            </center>
                        </td>
                    </tr>`;
            });
            document.getElementById('tablebody_sustentaciones').innerHTML = content;
        } catch (ex) {
            console.error('Error al listar las sustentaciones:', ex);
        }
    };

    window.addEventListener("load", async () => {
        await initDataTable();
    });
</script>

    <!-- Eliminar un usuario -->
    <script>
        function eliminarEvaluacion(id){
            Swal.fire({
                title: "¿Realmente deseas eliminar este registro?",
                text: "ID del Evaluacion: " + id,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#A19D9C',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'No, cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/evaluacion/delete/${id}/`;
                }
            });
        }
    </script>


<!-- Para Asignar jurado Presidente  -->
<script>
    $(document).ready(function () {
        let idEvaluacionGlobal;
        let idAlumnoGlobal; 
        $(document).on('click', '.btn-enviar-id', function () {
            idEvaluacionGlobal = $(this).data('id-evaluacion');
            idAlumnoGlobal = $(this).data('alumno-id');
            console.log('ID Evaluacion:', idEvaluacionGlobal);
            console.log('ID alumno:', idAlumnoGlobal);
        });

        $(document).on('click', '.btn-juradop-id', function (e) {
            e.preventDefault(); 
            var idJuradoPresidente = $('#id_jurado_presidente').val();
            console.log('ID Jurado Presidente:', idJuradoPresidente);

            $.ajax({
                url: '{% url "crear_detalle_evaluacion" %}',
                type: 'POST',
                data: {
                    'id_evaluacion': idEvaluacionGlobal,
                    'id_jurado': idJuradoPresidente,
                    'id_alumno': idAlumnoGlobal,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response);
                    alert('¡Jurado Asignado correctamente!');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    alert('¡Hubo un Error!');
                }
            });
        });
    });
</script>


<!-- Para Asignar jurado Secretario  -->
<script>
    $(document).ready(function () {
        let idEvaluacionGlobal;
        let idAlumnoGlobal; 
        $(document).on('click', '.btn-enviar-id', function () {
            idEvaluacionGlobal = $(this).data('id-evaluacion');
            idAlumnoGlobal = $(this).data('alumno-id');
            console.log('ID Evaluacion:', idEvaluacionGlobal);
            console.log('ID alumno:', idAlumnoGlobal);
        });

        $(document).on('click', '.btn-juradoss-id', function (e) {
            e.preventDefault(); 
            var id_jurado_secretario = $('#id_jurado_secretario').val();
            console.log('ID Jurado Secretario:', id_jurado_secretario);

            $.ajax({
                url: '{% url "crear_detalle_evaluacion" %}',
                type: 'POST',
                data: {
                    'id_evaluacion': idEvaluacionGlobal,
                    'id_jurado': id_jurado_secretario,
                    'id_alumno': idAlumnoGlobal,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response);
                    alert('¡Jurado Asignado correctamente!');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    alert('¡Hubo un Error!');
                }
            });
        });
    });
</script>

<!-- Para Asignar jurado Vocal  -->
<script>
    $(document).ready(function () {
        let idEvaluacionGlobal;
        let idAlumnoGlobal; 
        $(document).on('click', '.btn-enviar-id', function () {
            idEvaluacionGlobal = $(this).data('id-evaluacion');
            idAlumnoGlobal = $(this).data('alumno-id');
            console.log('ID Evaluacion:', idEvaluacionGlobal);
            console.log('ID alumno:', idAlumnoGlobal);
        });

        $(document).on('click', '.btn-juradosv-id', function (e) {
            e.preventDefault(); 
            var idJuradoVocal = $('#id_jurado_vocal').val();
            console.log('ID Jurado Presidente:', idJuradoVocal);

            $.ajax({
                url: '{% url "crear_detalle_evaluacion" %}',
                type: 'POST',
                data: {
                    'id_evaluacion': idEvaluacionGlobal,
                    'id_jurado': idJuradoVocal,
                    'id_alumno': idAlumnoGlobal,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response);
                    alert('¡Jurado Asignado correctamente!');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    alert('¡Hubo un Error!');
                }
            });
        });
    });
</script>


{% endblock %}